body{
    font-family: "Roboto Slab";
    background-color: #efe9e7;
    padding: 0;
    margin: 0 0 30px 0;
}
section{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}
ol{
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    background-color: white;
    margin: auto;
    border: 2px solid #111344;
    padding: 10px 10px 10px 20px;
}
h1{
    margin: auto;
    color: #111344;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    /* padding-bottom: 30px; */
    position: sticky;
}
h2{
    margin-left: 5%;
}
form{
    background-color: #dae0f2;
    border: 3px solid #111344;
    /* border-radius: 10px; */
    padding: 30px;
    width: 45%;
    line-height: 1;
}
label{
    margin: 10px 5px;
}
input{
    border: 1px solid #52154e;
    border-radius: 15px;
    background-color: #efe9e7;
    display: block;
    padding: 2px;
    width: 65%;
    margin: 10px auto 0;
}
#finalreport{
    margin: auto;
}
input:hover{
    background-color: #f9cff2;
}
#course{
    text-align: center;
}
button{
    border: 1px solid #52154e;
    border-radius: 15px;
    background-color: #f9cff2;
    padding: 10px;
    transition: 0.5s;
    width: 100px;
    margin-left: 20%;
    box-sizing: border-box;
}
button:hover{
    background-color: aquamarine;
    font-weight: 700;
}
div{
    background-color: #dae0f2;
    border-radius: 30px;
    border: 3px solid #52154e;
    padding: 30px;
    width: 30%;
    height: 30%;
}
::placeholder{
    color: #52154e;
    text-align: center;
    opacity: 70%;
}
div p{
    padding: 10px;
}
.topheader{
    width: 100%;
    border-radius: 0;
    border-width: 0 0 3px 0;
    margin-bottom: 20px;
}
#comments{
    width: 80%;
    margin-top: 30px;
    background-color: #efe9e7;
}
@media (max-width: 820px){
    section{display:inline;    }
    form{width: 95%;}
    div{width: 95%;
        margin: 30px auto;
        box-sizing: border-box;}
    
}